<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home.index') }}">Flask-Factor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                        <!-- <li><a class="dropdown-item" href="{{ url_for('admin.index') }}">Admin</a></li> -->
                        <li><a class="dropdown-item" href="{{ url_for('players.player_list') }}">Players</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('characters.index') }}">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('transactions.index') }}">Transactions</a>
                </li>
            </ul>
            <span class="navbar-text">
                {% if current_user %}
                    Logged in as: {{ current_user }} | Company: {{ current_company }}
                {% else %}
                    <a class="nav-link" href="{{ url_for('players.player_add_get') }}">Register as Player</a>
                {% endif %}
            </span>
        </div>
    </div>
</nav>
